@model TurboRango.Dominio.Classificacao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Classificacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaNota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataAvaliacao)
        </dt>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
